<!doctype html>
<html>
  <head>
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create New Blog Post</h1>

    <form method="POST">
      <input
        type="text"
        name="title"
        placeholder="Title"
        required
      /><br /><br />
      <textarea
        name="content"
        placeholder="Content"
        rows="5"
        required
      ></textarea
      ><br /><br />
      <button type="submit">Publish</button>
    </form>

    <br />
    <a href="{{ url_for('home') }}">Back to Home</a>
  </body>
</html>
