name: Deploy to EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/two-tier-flask-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/two-tier-flask-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/two-tier-flask-app:latest
            docker stop two-tier-flask-app || true
            docker rm two-tier-flask-app || true
            docker run -d -p 5000:5000 --name two-tier-flask-app \
              -e MYSQL_HOST=mysql \
              -e MYSQL_USER=root \
              -e MYSQL_PASSWORD=root \
              -e MYSQL_DB=mydb \
              ${{ secrets.DOCKERHUB_USERNAME }}/two-tier-flask-app:latest
